
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
        <%= image_tag "/user_images/#{@user.image_name}", alt: "user icon", id:"user-icon" %>
        <%= @user.name %> 
      </h1>
    </section>
    <section class="stats">
      <div class="status">
        <a href="<%= following_user_path(@user) %>">
          <strong id="following" class="stat">
            <%= @user.following.count %>
          </strong>
          following
        </a>
        <a href="<%= followers_user_path(@user) %>">
          <strong id="followers" class="stat">
            <%= @user.followers.count %>
          </strong>
          followers
        </a>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Posts (<%= @user.posts.count %>)</h3>
    <% if @user.posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    <% end %>
  </div>
</div>